# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Server sided configurations.
##########################################################################################################

general {
    # An array holding every item id that should be blacklisted for player usage.
    S:blacklist <
        minecraft:diamond_helmet
        minecraft:diamond_chestplate
        minecraft:diamond_leggings
        minecraft:diamond_boots
        minecraft:diamond_axe
        minecraft:diamond_pickaxe
        minecraft:diamond_shovel
        minecraft:diamond_sword
        minecraft:bow
        minecraft:ender_eye
     >

    # An array holding each item id that should be allowed by the player to be used.
    # Overwrites blacklist.
    S:whitelist <
     >
}


instance {
}


